<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">    

    <!-- Custom fonts-->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/lexis.css" />

    <title>HanasLexis: Home Page</title>
  </head>
  <body>
    <h1>Hello, world!</h1>

    <!-- Javascript Library [jquery, popper, bootstrap] -->
    <script src="vendor/jQuery/jquery-3.3.1.js" />
    <script src="vendor/popper/popper.js" />
    <script src="vendor/bootstrap/js/bootstrap.js" />
  </body>
</html>